<form [formGroup]="myForm" novalidate>
    <div class="boxLogin">
        <div>
            <input type="text" name="email" formControlName="userEmail" placeholder="Введіть email">
            <p *ngIf="!(myForm.controls['userEmail'].valid || myForm.controls['userEmail'].untouched)"
             class="warn">Невірний email</p>
        </div>
    
        <div>
            <input type="password" name="password" formControlName="userPassword" placeholder="Введіть password">
            <p *ngIf="!(myForm.controls['userPassword'].valid || myForm.controls['userPassword'].untouched)" class="warn">Введіть латиницю</p>
        </div>
        <div>
            <input type="button" value="Увійти" [disabled]="myForm.controls['userPassword'].invalid || myForm.controls['userEmail'].invalid" (click)=loginUser()>
        </div>
    </div>
</form>
